section {
  .container {
    .category {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 8px;
        height: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
        border-radius: 2px;
      }

      ul {
        padding: 0 30px;
        display: flex;
        align-items: center;
        gap: 35px;
        li {
          white-space: nowrap;
          padding: 4px 12px;
          border-radius: var(--radius);
          color: var(--main-color);
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            color: var(--white);
            background-color: var(--main-color);
          }
        }
      }
    }
    .card__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .card__title-top {
        color: var(--main-color);
      }
      b {
        padding: 15px 0;
        font-size: 25px;
      }
      p {
        color: var(--text-color);
        font-size: 15px;
      }
    }

    .card__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px 20px;
      padding-top: 50px;
      padding-bottom: 20px;
      .card {
        display: flex;
        flex-direction: column;
        border: 1px solid #00000025;
        padding: 10px 15px;
        border-radius: var(--radius);
        .card__image {
          width: 100%;
          height: 300px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            background-color: #dc770b5b;
            border-radius: 10px;
          }
        }
        .card__text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          .card__top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 15px 0;
          }
        }
        .card__icons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 0;
          button {
            padding: 10px 11px;
            border-radius: var(--radius);
            border: 1px solid var(--main-color);
            background-color: var(--main-color);
            color: var(--white);
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              background-color: var(--white);
              color: var(--main-color);
            }
          }
        }
      }
    }
    .card__more {
      padding: 12px 30px;
      background-color: var(--main-color);
      color: var(--white);
      border: 1px solid var(--main-color);
      border-radius: var(--radius);
      transition: 0.5s;
      display: block;
      margin: 0 auto;
      cursor: pointer;
      &:hover {
        background-color: var(--white);
        color: var(--main-color);
      }
    }
  }
}
