    section{
       .container{
        .collection__wrapper{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 80px;
            .collection__item{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                img{
                    width: 88px;
                    height: 88px;
                    object-fit: contain;
                }
                b{
                    font-size: 20px;
                    font-weight: 700;
                    color: var(--main-color);
                    padding: 10px 0;
                }
                p{
                    color: var(--text-color);
                    font-size: 15px;
                }
            }
        }
       }
    }